@font-face {
    font-family: Theboldfont;
    src: url(/static/fonts/Theboldfont.ttf) format("truetype");
}
@font-face {
    font-family: SegoeUI-regular;
    src: url(/static/fonts/SegoeUI-regular.ttf) format("truetype");
}
@font-face {
    font-family: SegoeUI-semibold;
    src: url(/static/fonts/SegoeUI-semibold.ttf) format("truetype");
}
@font-face {
    font-family: SegoeUI-bold;
    src: url(/static/fonts/SegoeUI-bold.ttf) format("truetype");
}
@font-face {
    font-family: SegoeUI-italic;
    src: url(/static/fonts/SegoeUI-italic.ttf) format("truetype");
}