@import url(/stylesheets/imports.css);

/*-----------*/
/*Home-styles*/
/*-----------*/
/*Carrousel*/
/*Categories-Trend-Suggested*/
/*Trend / Suggested - products*/
/*-----------*/

/*Carrousel*/
.carousel {
    padding: 0;
    justify-content: center;
    display: flex;
}
.carousel img {
    max-width: 100%;
    max-height: 500px;
}

/*Categories-Trend-Suggested*/
.categories h2,
.trend h2,
.suggested h2 {
    margin-bottom: 10px;
}
.categories_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}
.categories_inner_category {
    align-content: center;
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
}
.categories_inner_category_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2.5px solid var(--c-color3);
}

/*Trend / Suggested - products*/
.trend article,
.suggested article {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
}
.products {
    padding: 5px;
}
.products_img {
    border-radius: 10px;
}
.products_description-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 5px;
}
.products_description_name,
.products_description_description,
.products_description_price {
    flex: 1 1 100%;
}
.products_description_name {
    font-family: var(--f-secondary-bold);
    text-align: center;
}
.products_description_description {
    font-size:  var(--f-size-sm);
}
.products_description_price {
    font-family: var(--f-secondary-semiBold);
    margin-top: 5px;
}
.products_description_price::before {
    content: '$';
    padding-right: .25em;
}

/*-------*/
/*@medias*/
/*-------*/
@media (min-width: 600px) {
    .categories_inner_category {
        flex: 1 1 0%;
    }
    .products {
        margin-right: 15px;
    }
}
@media (min-width: 768px) {
    .categories_inner {
        justify-content: center;
    }
    .categories_inner_category {
        max-width: 120px;
    }
    .products {
        margin-right: 25px;
    }
}