/*-------------------*/
/*Root/General-styles*/
/*-------------------*/
/*Colors*/
/*Social-media*/
/*Alerts*/
/*Typographi*/
/*Font-size*/
/*Icon-size*/
/*-------------------*/

:root {    
  /*------*/
  /*Colors*/
  /*------*/
  --c-primary:              #36767a;
  --c-primary-var1:         #07565b;
  --c-primary-var2:         #65a4ab;
  --c-secondary:            #003a45;
  --c-tertiary:             #ed3c10;
  --c-tertiary-var1:        #e95b37;
  --c-tertiary-var2:        #ec785b;
  --c-color1:               #c2dde4;
  --c-color3:               #888;
  --c-color4:               #666;
  --c-color5:               #444;
  --c-color7:               transparent;
  --c-color8:               #000;
  --c-color9:               #fff;  
  --c-opacity:              rgba(0, 0, 0, 0.15);
  --c-opacity-var1:         rgba(255, 255, 255, 0.15);
  --c-opacity-var2:         rgba(0, 0, 0, 0.05);


  /*------------*/
  /*Social-media*/
  /*------------*/
  --c-social-facebook:      #3b5998;
  --c-social-twitter:       #00aced;
  --c-social-google:         #dd4b39;
  --c-social-whatsapp:      #4dc247;


  /*------*/
  /*Alerts*/
  /*------*/
  --c-info:                 var(--c-primary);
  --c-warning:              #f9a91f;   /*yellow*/
  --c-error:                #C00009;   /*red*/
  --c-success:              #86bc32;   /*green*/


  /*----------*/
  /*Typographi*/
  /*----------*/
  --f-primary:              Theboldfont, sans-serif;
  --f-secondary-regualr:    SegoeUI-regular, sans-serif;
  --f-secondary-semiBold:   SegoeUI-semibold, sans-serif;
  --f-secondary-bold:       SegoeUI-bold, sans-serif;
  --f-secondary-italic:     SegoeUI-italic, sans-serif;
  --c-text:                 var(--c-secondary);


  /*---------*/
  /*Font-size*/
  /*---------*/
  --f-size-xxs:             10px;
  --f-size-xs:              12px;
  --f-size-sm:              14px;
  --f-size:                 16px;
  --f-size-md-xxl:          18px;
  --f-size-md-xl:           20px;
  --f-size-md:              24px;
  --f-size-lg:              28px;
  --f-size-xlg:             34px;
  --f-size-xlgx:            40px;
  --f-size-xxlg:            48px;
  --f-size-super:           60px;
  --f-size-ultra:           74px;


  /*---------*/
  /*Icon-size*/
  /*---------*/
  --f-iconsize-sm:          10px;
  --f-iconsize:             20px;
  --f-iconsize-md:          36px;
  --f-iconsize-lg:          48px;
  --f-iconsize-xlg:         60px;
  --f-iconsize-super:       70px;
}