<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>BabyFashion</title>
</head>

<body>
    <!-- header -->
    <%- include('./partials/header.ejs') %>

    <main>
        <section class="category">
            <section class="category_inner">
                <div class="category_inner_panel">
                    <h2>Categoría elegida</h2>
                </div>
                <div class="category_inner_category">
                    <article>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                    </article>
            </section>                
        </section>
        <section class="prduct-detail">
            <article>
                <div class="prduct-detail_product_wrap">
                    <div class="prduct-detail_products">
                        <img class="prduct-detail_products_img" src="/static/img/jpg/img-disable.jpg" alt="">
                        <div class="prduct-detail_products_description">
                            <span class="prduct-detail_products_description_name">Nombre del producto</span>
                            <span class="prduct-detail_products_description_description">Descripción detallada del producto</span>
                            <span class="prduct-detail_products_description_price">Precio</span>
                            <span class="prduct-detail_products_description_price-number">$ 99999999999</span>
                            <span class="prduct-detail_products_description_quantity">cantidad</span>
                            <span class="prduct-detail_products_description_input">
                                <input type="number">
                            </span>
                            <button  class="products_description_button">
                                <span>Agregar al carrito</span>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>