<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/productCart_sin_revisar_.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Carrito</title>
</head>

<body>

    <!-- header -->
    <%- include('./partials/header.ejs') %>

    <div class="popup" id="popup">
        <div class="popup-content">
            <a href="/"><i class="close fas fa-times-circle"></i></a>

            <h2>Carrito de compras</h2>
            <hr>
            <div class="product-article">
                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                <div class="products">
                    <p class="name-product">
                        Nombre del Producto
                    </p>
                    <p class="count-and-price">
                        1 x $9999999999
                    </p>
                </div>
            </div>
            <hr>
            <div class="product-article">
                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                <div class="products">
                    <p class="name-product">
                        Nombre del Producto
                    </p>
                    <p class="count-and-price">
                        1 x $9999999999
                    </p>
                </div>
            </div>
            <hr>
            <div class="total">
                <p>Total:</p>
                <p>$9999999999999</p>
            </div>
            <hr>
            <a href="/"><button class="button-pay">Ir a pagar</button></a>
        </div>
    </div>
    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>


<textarea name="" id="" cols="30" rows="10"></textarea>