<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <link rel="stylesheet" href="/stylesheets/home.css">

    
    <title>BabyFashion</title>
</head>

<body>
    <!-- header -->
    <%- include('./partials/header.ejs') %>

    <main>
        <section class="category">
            <section class="category_inner">
                <div class="category_inner_panel">
                    <h2>Categoría elegida</h2>
                </div>
                <div class="category_inner_category">
                    <article>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                        <div class="product_wrap">
                            <div class="products" id="prodct1">
                                <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                                <div class="products_description">
                                    <span class="products_description_name">Nombre</span>
                                    <span class="products_description_description">Descripción</span>
                                    <span class="products_description_price">Precio</span>
                                </div>
                            </div>
                        </div>
                    </article>
            </section>                
        </section>
    </main>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>