<footer>
    <section class="social-icons">
        <ul>
            <li><a class="social-icons_1" href="#"></a></li>
            <li><a class="social-icons_2" href="#"></a></li>
            <li><a class="social-icons_3" href="#"></a></li>
        </ul>
    </section>
    <section class="footer-inner">
        <ul class="footer-inner_section">
            <li class="footer-inner_section_sub-title"><a href="#">Menú</a></li>
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Carrito de compras</a></li>
        </ul>
        <ul class="footer-inner_section">
            <li class="footer-inner_section_sub-title"><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Cónocenos</a></li>
            <li><a href="#">Cobertura de países</a></li>
        </ul>
        <ul class="footer-inner_section">
            <li class="footer-inner_section_sub-title"><a href="#">Soporte técnico</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Quejas/solicitudes</a></li>
        </ul>
    </section>
</footer>