<header>
    <div class="main-menu_tittle-inner">
        <h1><%= title %></h1>
    </div>
    <nav class="main-menu">            
        <ul class="main-menu_inner-left">
            <li class="icon icon_menu"></li>
            <li class="icon icon_search"></li>
        </ul>
        <ul class="main-menu_inner-right">                
            <li class="icon icon_user">
                <div class="login-interface">
                    <ul class="login-interface_inner">
                        <li><a href="/login" id="button-login">Ingresar</a></li>
                        <li><a href="/register" id="button-register">Registrarse</a></li>
                    </ul>
                </div>
            </li>                
            <li class="icon icon_shoping-bag"><a class="icon icon_shoping-bag" href="/shop"></a></li>
        </ul>
    </nav>
</header>